


body {
  background-color: #d2ebe0 !important;
}
.container-fluid {
  margin: 2;
  font-family: monospace;
  /* font-weight: bold; */

  height: 100vh;
  cursor: url("imgs/flower.png"), crosshair;
  /* cursor by By Made by Made, AU, In the Flowers Collection */
}

p {
  font-weight: normal;
  font-family: 'Roboto' !important;
}


.col-sm-8 {
  background-color: white


}

.col-sm-4 {
  background-color: #d2ebe0 !important;
}




h1 {
  font-family: monospace;
  color: green;
  font-weight: bold;
  font-size: 30px
}

h3 {
  color: green;
  font-size: 20px
}

.footer{
  text-align: right;
  /* background-color: white */
}


/* .container-fluid {
  background-color: black;

} */


}


/*links*/

li {
  font-weight: bold;
}

.nav-item a:link {
  color: green;
  cursor: url("imgs/flower.png"), crosshair;

}

.nav-item a:visited {
  color: black;

}

.nav-item a:hover{
  color: white;

}

/* how to make current page link a color?? */
.nav-item a:active {
  color: blue;

}

a {
  cursor: crosshair;
}
